<!DOCTYPE html>
@using Sitecore.Mvc
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ford Cars &amp; SUV, Latest &amp; Upcoming Models, Price and Reviews| Ford India</title>
    <meta name="keywords" content="">
    <meta name="description" content="" />
    <!-- CSS START -->
    <!-- CSS END -->
</head>
<body>
    @Html.Sitecore().Placeholder("header")

    @Html.Sitecore().Placeholder("main")

    @Html.Sitecore().Placeholder("footer")

    <!-- Script START -->
    <!-- Script END -->

</body>
</html>
