
<body onload="fetch()">
    <h2>Ajax Test</h2>
    @*<input id="btn" type="button" value="Get All Records"  />
    <input id="clearbtn" type="button" value="Clear  All Records" />*@
    <table id="records_table" border='1'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>ACTV_IND</th>
        </tr>
    </table>
</body>

<script src="~/js/Nameplate.js"></script>
