<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    
    <sc.variable name="sourceFolder" value="D:\FordIndia\src" />

    <sc.variable name="rootHostName" value="fordindia.dev.local" />

    <!-- enable the unicorn warning in the content editor -->
    <!--<pipelines role:require="Standalone or ContentManagement">
      <getContentEditorWarnings>
        <processor type="Unicorn.UI.Pipelines.GetContentEditorWarnings.SerializedWarning, Unicorn" />
      </getContentEditorWarnings>
    </pipelines>-->
    
    <sites role:require="Standalone">
      <site name="FordIndia">
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>