@model FordIndia.Feature.Media.Models.Carousel
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@using Sitecore.Resources.Media;

<!--[Hero-Slider]-->
<section id="home-slider">
    <div class="hp-carousel owl-carousel">
@if (Model != null && Model.CarouseImage != null && Model.CarouseImage.Count() > 0)
{
    foreach (var item in Model.CarouseImage)
    {
        //ImageField image = ((Sitecore.Data.Fields.ImageField)item.Item.Fields[Templates.ImageItem.MediaImageFieldID]);
        //var imageurl = image.MediaItem != null ? MediaManager.GetMediaUrl(image.MediaItem) : "";
    <a href="#">
        <picture>
            <source srcset="" media="(min-width: 768px)">
            @Html.Glass().RenderImage(item, x => x.MediaImage)
            <img src=" @Html.Glass().RenderImage(item, x => x.MobileImage)">
            @Html.Glass().RenderImage(item, x => x.MobileImage)
        </picture>
    </a>
    }
}

    </div>
</section>
<!--[/Hero-Slider]-->