@model FordIndia.Feature.Media.Models.Carousel
@using Glass.Mapper.Sc.Web.Mvc
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@using Sitecore.Resources.Media;

<!--[Hero-Slider]-->
<section id="home-slider">
    <div class="hp-carousel owl-carousel">
        @if (Model != null && Model.CarouseImage != null && Model.CarouseImage.Count() > 0)
        {
            foreach (var item in Model.CarouseImage)
            {
                <a href="#">
                    <picture>
                        <source srcset="@item.MediaImage.Src" media="(min-width: 768px)">
                        <img src=" @item.MobileImage.Src">

                    </picture>
                </a>
            }
        }

    </div>
</section>
<!--[/Hero-Slider]-->