<!--
	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Foundation.Serialization" description="Sitecore.Solution.Framework Root items" extends="FordIndia.Base">
          <predicate>

            <!--
							Each include can also exclude specific subitems by path:
							<exclude path="/sitecore/content"/>

							Excludes may also exclude all children at once by adding a trailing slash, e.g. this would include the root /sitecore item but no children
							<include path="/sitecore">
								<exclude path="/sitecore/" />
							</include>

							NOTE: after changing what is included or excluded, you should reserialize all items, or at least the added items
							NOTE: the "name" attribute controls the folder name the items will go into (for SFS). If unspecified, the last path segment is used. Names must be unique across the configuration.
						-->
            <!-- Settings -->
            <!--<include name="Settings.Feature" database="master" path="/sitecore/system/Settings/Feature"/>
                 <include name="Settings.Foundation" database="master" path="/sitecore/system/Settings/Foundation"/>
                 <include name="Settings.Project" database="master" path="/sitecore/system/Settings/Project"/>
             -->

            <!-- Facets -->
            <!--<include name="Facets.Feature" database="master" path="/sitecore/system/Settings/Buckets/Facets/Feature"/>
                 <include name="Facets.Foundation" database="master" path="/sitecore/system/Settings/Buckets/Facets/Foundation"/>
                 <include name="Facets.Project" database="master" path="/sitecore/system/Settings/Buckets/Facets/Project"/>
             -->

            <!-- Templates -->
            <include name="Templates.Feature" database="master" path="/sitecore/templates/Feature"/>

            <include name="Templates.Foundation" database="master" path="/sitecore/templates/Foundation"/>

            <include name="Templates.Project" database="master" path="/sitecore/templates/Project"/>


            <!-- Branches -->
            <include name="Branches.Foundation" database="master" path="/sitecore/templates/branches/Foundation"/>


            <!-- Renderings -->
            <include name="Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature"/>

            <include name="Renderings.Foundation" database="master" path="/sitecore/layout/renderings/Foundation"/>

            <include name="Renderings.Project" database="master" path="/sitecore/layout/renderings/Project"/>


            <!-- Layouts -->
            <include name="Layouts.Feature" database="master" path="/sitecore/layout/layouts/Feature"/>

            <include name="Layouts.Foundation" database="master" path="/sitecore/layout/layouts/Foundation"/>

            <include name="Layouts.Project" database="master" path="/sitecore/layout/layouts/Project"/>


            <!-- Placeholder Settings -->
            <include name="PlaceholderSettings.Feature" database="master" path="/sitecore/layout/placeholder settings/Feature"/>

            <include name="PlaceholderSettings.Foundation" database="master" path="/sitecore/layout/placeholder settings/Foundation"/>

            <include name="PlaceholderSettings.Project" database="master" path="/sitecore/layout/placeholder settings/Project"/>


            <!-- Models -->
            <include name="Models.Feature" database="master" path="/sitecore/layout/models/Feature"/>

            <include name="Models.Foundation" database="master" path="/sitecore/layout/models/Foundation"/>

            <include name="Models.Project" database="master" path="/sitecore/layout/models/Project"/>


            <!-- Media -->
            <!--<include name="Media.Feature" database="master" path="/sitecore/media library/Feature"/>
                <include name="Media.Project" database="master" path="/sitecore/media library/Project"/>
                           -->
            <include name="Media.Project" database="master" path="/sitecore/media library/FordIndia"/>


            <!-- Core templates -->
            <!--<include name="Core.Templates.Feature" database="core" path="/sitecore/templates/Feature"/>
                <include name="Core.Templates.Foundation" database="core" path="/sitecore/templates/Foundation"/>
                <include name="Core.Templates.Project" database="core" path="/sitecore/templates/Project"-->

            <!--Content FordIndia-->
            <include name="Content.FordIndia" database="master" path="/sitecore/content/FordIndia" />

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>