<h4>Dealer Locator</h4>
<input type="button" value="Click to Display Map" onclick="DisplayGoogleMap()" />
<div id="MapResult" style="width: 620; height: 600"></div>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeYjdSUBhrLwF55H61lV6LIOlqvHqrizo"></script>
<script type="text/javascript">

    
    function DisplayGoogleMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success);
        } else {
            alert("There is Some Problem on your current browser to get Geo Location!");
        }
        function success(position) {
            var lat = position.coords.latitude;
            var long = position.coords.longitude;
            var geolocation = new google.maps.LatLng(lat, long);
            var mapOptions = {
                center: geolocation,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("MapResult"), mapOptions);
            var marker = new google.maps.Marker({
                position: geolocation,
                map: map,
                title: "<div style='height:450px;width:500px'> <b> Your location:</b> <br />Latitude: " + lat + "<br />Longitude: " + long
            });
            marker.setMap(map);
            var getInfoWindow = new google.maps.InfoWindow({
                content: "<b>Your Current Location</b><br /> Latitude:" +
                    lat + "<br /> Longitude:" + long + ""
            });
            getInfoWindow.open(map, marker);
        }

    }

    
</script> 